@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-geist: "Outfit", sans-serif;
  --color-background: #fff;
  --color-white : #fff;
  --color-gray-light : #EEEEEE;
  --color-accent: #188AF9;
  --color-blue: #1E293B;
  --color-success: #68A06C;
  --color-error: #CB3030;
  --color-button-dark: #1C2434;
  --color-button-dark-hover: #121824;
} 

@layer base {
  body {
    @apply bg-background font-sans antialiased;
    font-family: var(--font-sans);
  }
} 
  
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
